extends layout

block scripts
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  link(rel='stylesheet', href='leaflet/leaflet.css')
  script(type='text/javascript', src='leaflet/leaflet.js')
  script(type='text/javascript', src='sample.js')
  title='Locus2'
  style.
    #map { height:500px; margin: 0 auto;}

block content
  #map
  #controls
    button(type='button', class='btn btn-default', onclick='updateLocation()') Update My Location
    button(type='button', class='btn btn-default', onclick='pantoREV()') Pan to REV
    button(type='button', class='btn btn-default', onclick='getMyLocation()') Add Custom Marker
  p Name&nbsp;
    input(type='text', id='name')
  p Latitude&nbsp;
    input(type='text', id='latitude', size='32', disabled)
  p Longitude&nbsp;
    input(type='text', id='longitude', size='32', disabled)
  p Log&nbsp;
    input(type='text', size="160" id='log')
