extends layout

block scripts
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  link(rel='stylesheet', href='leaflet/leaflet.css')
  style(type='text/css').
    .row {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    //#map { height:500px; margin: 0 auto;}
    //#map { height:100px; margin: 1em auto; }
    #map {
      width: 100px;
      height: 400px;
      min-height: 100%;
      min-width: 100%;
      display: block;
    }
    .row-centered {
      text-align:center;
    }
    .col-centered {
      display:inline-block;
      float:none;
      /* reset the text-align */
      text-align:left;
      /* inline-block space fix */
      margin-right:-4px;
    }
  script(type='text/javascript', src='leaflet/leaflet.js')
  title='Locus3'

block content
  .container-fluid
    .row
      .col-sm-12.text-center
        #map

    .row.row-centered
      .col-md-8.col-centered
        .input-group
          span.input-group-addon Name
          input#name(type='text', placeholder='Billy').form-control
    .row.row-centered
      .col-md-4.col-centered
        .input-group
          span.input-group-addon Latitude
          input#latitude(type='text', placeholder='...').form-control
      .col-md-4.col-centered
        .input-group
          span.input-group-addon Longitude
          input#longitude(type='text', placeholder='...').form-control
    .row
      .col-md-12.text-center
        button(type='button', onclick='updateLocation()').btn.btn-default Update My Location
        &nbsp;
        button(type='button', onclick='panToREV()').btn.btn-default Pan to REV
        &nbsp;
        button(type='button', onclick='panToMe()').btn.btn-default Pan to ME!
  script(type='text/javascript', src='sample.js')
