extends layout
block scripts
  link(rel='stylesheet', href='leaflet/leaflet.css')
  script(type='text/javascript', src='leaflet/leaflet.js')
  title='Locus2'
  style.
    #map { height:500px; margin: 0 auto;}
    #controls { margin: 0 auto; }
block content
  #map
  script(type='text/javascript', src='sample.js')
  #controls
    button(id='control', onclick='update()') Update
    button(id='control', onclick='pantoREV()') Pan to REV
    button(id='control', onclick='addMarker()') Add Custom Marker
  p Name:
    input(type='text', id='name', value='')
  p Lat: 
  input(type='text', id='latitude', size="32", value='', disabled)
  p Long:
  input(type='text', id='longitude', size="32", value='', disabled)
  p Log:
  input(type='text', id='log', size="500", value='')